*{
    font-family: sans-serif;
}


body{
    margin-top: 0;
    margin-left:0;
    margin-right:0;
}


.nav li{
    padding: 10px 10px;
    border: 1px black solid;
    font-size: 20px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    
}

.nav li:hover{
    background-color: orange;
}

.nav li:active{
    background-color: rgb(248, 203, 3);
}

ul.nav{
    background-color: rgb(107, 96, 96);
    position:fixed;
    top:0px;
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
    width:100%;
    display:flex;
    justify-content: space-around;
    border: 3px solid red;
}

.nav a{
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color:blue;
}

.nav a:visited{
    color:blue
}


h1.titlumare{
    text-align: center;
    color: cyan;
    background-image: url('orange.jpg');
    padding: 40px;
    font-size: 60px;
    margin-top: 88px;
    display:flex;
    justify-content: center;
    width: 100%;
}

.titlu{
    
    border-radius: 25%;
    padding: 5px 20px;
    background-image: url('black.jpg');
    font-family: Georgia;
}

table.tabletags{
    border: 2px solid black;
    width: 600px;
}

table.color{
    border: 2px solid black;
    width: 1200px;
}

th,
.footer{
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

.tag{
    background-color: palegoldenrod;
    font-weight: bold;
}

.attribute{
    background-color: aqua;
    font-weight: bold;
}

td{
    border-top: 2px solid black;
}

.opacity{
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

.example{
    text-decoration: underline;
}

/*.flex{
    display:flex;
    background-color: grey;
    position:fixed;
    top:0;
    width:100%;
    justify-content: space-around;
}

.navp{
    background-color: red;
    margin: 10px;
}*/

.bodymargin{
    margin-left:10px;
    margin-right: 10px;

}

